{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pessoa Editar</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="row">
        <input type="submit" class="btn btn-sm btn-success" value="Salvar" />
        {{ form_end(edit_form) }}
        <a class="btn btn-sm btn-secondary" href="{{ path('_view') }}">Voltar</a>

        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
