{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pessoa Detalhes</h1>

    <table class="table-hover">
        <tbody>
            <tr>
                <th scope="row">Id:</th>
                <td>{{ pessoa.id }}</td>
            </tr>
            <tr>
                <th scope="row">Nome:</th>
                <td>{{ pessoa.nome }}</td>
            </tr>
            <tr>
                <th scope="row">Identidade:</th>
                <td>{{ pessoa.identidade }}</td>
            </tr>
            <tr>
                <th scope="row">Login:</th>
                <td>{{ pessoa.login }}</td>
            </tr>
            <tr>
                <th scope="row">Senha:</th>
                <td>{{ pessoa.senha }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <a class="btn btn-sm btn-success" href="{{ path('_edit', { 'id': pessoa.id }) }}">Editar</a>
        <a class="btn btn-sm btn-secondary" href="{{ path('_view') }}">Voltar</a>

        {{ form_start(delete_form) }}
        <input class="btn btn-sm btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}

    </div>
{% endblock %}
