{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pessoa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pessoa.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ pessoa.nome }}</td>
            </tr>
            <tr>
                <th>Identidade</th>
                <td>{{ pessoa.identidade }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ pessoa.login }}</td>
            </tr>
            <tr>
                <th>Senha</th>
                <td>{{ pessoa.senha }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('_edit', { 'id': pessoa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
