{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pessoas list</h1>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Senha</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pessoas %}
                <tr>
                    <td><a href="{{ path('p_show', { 'id': p.id }) }}">{{ p.id }}</a></td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.login }}</td>
                    <td>{{ p.senha }}</td>
                    <td>
                        <a href="{{ path('p_show', { 'id': p.id }) }}" title="Detalhes">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="{{ path('p_edit', { 'id': p.id }) }}" title="Alterar">
                            <i class="fas fa-pencil-alt text-success"></i>
                        </a>
                        <a href="{{ path('p_delete', { 'id': p.id }) }}" title="Excluir">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-sm btn-primary" href="{{ path('_new') }}">Cadastrar</a>
    <a class="btn btn-sm btn-secondary" href="{{ path('_index') }}">Voltar</a>
{% endblock %}
