<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body class="container">
    <center><h1>Relatório de Pessoas</h1></center>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Identidade</th>
                <th scope="col">Login</th>
                <th scope="col">Senha</th>
            </tr>
        </thead>
        {% if pessoas %}
            <tbody>
                {% for p in pessoas %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.nome }}</td>
                        <td>{{ p.identidade }}</td>
                        <td>{{ p.login }}</td>
                        <td>{{ p.senha }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tr>
                <td>Não há registro cadastrado.</td>

            </tr>
        {% endif %}
    </table>
