{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pessoa2 creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Salvar" class="btn btn-sm btn-success" />
    <a class="btn btn-sm btn-secondary" href="{{ path('pessoa2_index') }}">Voltar</a>
    {{ form_end(form) }}

    {# <ul>
         <li>
             <a href="{{ path('pessoa2_index') }}">Back to the list</a>
         </li>
     </ul>#}
{% endblock %}
