{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pessoa2</h1>

    <table class="table table-sm table-hover col-sm-3">
        <tbody>
            <tr>
                <th>Id: </th>
                <td>{{ pessoa2.id }}</td>
            </tr>
            <tr>
                <th>Nome: </th>
                <td>{{ pessoa2.nome }}</td>
            </tr>
            <tr>
                <th>Login: </th>
                <td>{{ pessoa2.login }}</td>
            </tr>
            <tr>
                <th>Senha:</th>
                <td>{{ pessoa2.senha }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <a type="button" class="btn btn-sm btn-success" href="{{ path('pessoa2_edit', { 'id': pessoa2.id }) }}">Alterar</a>
        <a class="btn btn-sm btn-secondary" href="{{ path('pessoa2_index') }}">Voltar</a>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-sm btn-warning">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
